<h1>Alberta Food Co-Op</h1>

<%= image_tag "grocery.jpg" %>
<br>
<br>

<div class="col-md-6">
<h2>Products we sell</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<h2><%= link_to "Add a New Product", new_product_path %></h2>
<br>
</div>

<div class="column col md-4">
<h2>Recently Added</h2>
  <hr>
  <ul>
    <% @recent_products.each do |product|%>
      <li><%= link_to product.name, product_path(product)%><br>
    <%end%>
  </ul>
  <br>
  <h2>Most Reviewed</h2>
  <hr>
  <ul>
    <% @review_products.each do |product|%>
      <li><%= link_to product.name, product_path(product)%><br>
    <%end%>
  </ul>
  <br>
  <h2>Products from the USA</h2>
  <hr>
  <% if @usa_products.any? %>
  <ul>
  <% @usa_products.each do |product|%>
    <li><%= link_to product.name, product_path(product)%><br>
  <%end%>
  </ul>
    <% else %>
    <p>There are no American products yet!</p>
    <% end %>
  <br>
  <br>
</div>
